<% @page_title = "Add Your Face" %>
<% @page_description = "Add yourself to #{@site_title}'s gallery of creative faces. It's free." %>

<h1>Add your face &#9786;</h1>

<br />

<%= render :partial => "form" %>