<div class="row">
  <div class="span12">
    <h3>What's this all about?</h3>
    <p class="lead">This is who we are. So many different faces make up this active, brilliant, and (surprisingly) small community. Omawho is a proud announcement of membership in that community.</p>
    
    <p class="lead">It also helps us all stay connected:</p>

    <div class="row">
      <div class="span6">
        <h4 class="title-bg">Building Relationships</h4>
        <p>Browse Omawho on Monday. Three days later, you run into someone you found interesting and say "Hello". Coffee happens. Project happens. Magic!</p>
      </div>
      <div class="span6">
        <h4 class="title-bg">Ambient Familiarity&trade;</h4>
        <p>So you're at Big Omaha, bumping into everyone you've ever shaken hands with. Forgot someone's name? It happens to all of us. Next time, skim Omawho in the parking lot beforehand.</p>
      </div>
      
      <div class="span12">
        <%= image_tag "omaha.jpg" %>
      </div>
    </div>
  </div> 
</div>

</div> <!-- End Container -->

<style type="text/css" media="screen">
  p{
    font-size: 16px;
    line-height: 1.5;
  }
</style>