<% @page_title = "Log In" %>
<% @page_description = "Log in to edit your profile on #{@site_title}." %>

<div class="row">
  <div class="span12">
    <h1>Login</h1>

    <%= render 'form' %>
    
    <hr />

    <h3>Forgot Password?</h3>
    
    <%= render 'forgot_password_form' %>
  </div>
</div>