<div class="footer-container"><!-- Begin Footer -->
  <div class="container">
    <div class="row"><!-- Begin Sub Footer -->
      <div class="span12 footer-col footer-sub">
        <div class="row no-margin">
          <div class="span6"><span class="left"><%= link_to image_tag("bwb.png", :alt => "Big Wheel Brigade", :id => "bwb"), "http://bigwheelbrigade.com" %> Brought to you by <a href="http://bigwheelbrigade.com">Big Wheel Brigade</a>.</span></div>
          <div class="span6">
            <span class="right">
              <a href="/"><%= @site_title %></a>
            </span>
          </div>
        </div>
      </div>
    </div><!-- End Sub Footer -->
  </div>
</div><!-- End Footer -->

<style type="text/css" media="screen">
  .footer-container{
    position: relative;
  }
</style>